<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Busca CEP</title>
</head>
<body>
  <form action="/cep" method="post">
    <label for="buscar-cep">CEP:</label>
    <input type="text" name="CEP" id="buscar-cep" />
    <button type="submit">Buscar</button>
  </form>
  <% if (cep) { %>
    <div>
      <p>CEP: <%= cep.cep %></p>
      <p>Logradouro: <%= cep.logradouro %></p>
      <p>Bairro: <%= cep.bairro %></p>
      <p>Localidade: <%= cep.localidade %></p>
      <p>UF: <%= cep.uf %></p>
    </div>
  <% } %>
</body>
</html>